# Системные файлы
*.class         # Компилированные Java файлы
*.jar          # JAR файлы

# Maven
/target/       # Папка с артефактами сборки

# Intellij IDEA
.idea/
*.iml
out/
# Логи
*.log

# Директории, содержащие временные файлы
/tmp/
*.tmp